<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Violet | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<style>
    .align{
        text-align: center;
        font-size: 50px;
        background-color: gray;
        
    }
    .row{
        margin-top: 50px;
        margin-left: 50PX;
        
    }
    .havaj{
        text-align: center;
         margin: auto;
        font-size: 20px;
         
         
    }
   
</style>
<body>
       <h1 class="align"> USER REGISTRATION</h1>
       <div class="havaj">
        <a href="/" style="color: black;">Home /</a>
        <a href="/contact"style="color: black;" >contact</a>
       </div>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    
    <!-- Search model -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search model end -->

    <!-- Header Section Begin -->
   
    <!-- Header Info Begin -->
   
    <!-- Header Info End -->
    <!-- Header End -->

    <!-- Page Add Section Begin -->
   
    <!-- Page Add Section End -->

    <!-- Contact Section Begin -->
  
    
    <div class="contact-section m-auto" >
        <div class="container">
            <div class="row">
                <div class="col-lg-7 m-auto"   >
                    <span class="text-success">{{msg}}</span>
                    <form action="do_register" method="post" class="contact-form">
                        <div class="row">
                            <div class="col-lg-7">
                                <input type="text" name="uname" placeholder="Enter your name">
                            </div>
                            <div class="col-lg-7">
                                <input type="email" name="email" placeholder="E-mail">
                                <input type="password" name="pass" placeholder="Enter Password">
                            </div>
                            <div class="col-lg-7">
                                <input type="text" name="phone" placeholder="Enter your phone">
                            </div>
                            <div class="col-lg-7 text-right">
                                <button type="submit">Sign up</button>
                            </div>
                            <a href="login" style="color: black;">Already registed ?? Login here</a>
                        </div>
                    </form>
                </div>
               
            </div>
           
    </div>

    <!-- Contact Section End -->

    <!-- Footer Section Begin -->
  
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>